.custom-button {
  background-color: #131313;
  border: 2px solid white;
  color: white;
  font-size: 14px;
  font-weight: bold;
  outline: none;
  width: 100px;
  height: 35px;
  cursor: pointer;
  margin-top: 20px;
}
.custom-button:hover {
  background-color: #222222;
}
.inverted {
  background-color: rgb(240, 240, 240);
  color: #131313;
  border-color: #131313;
}
.inverted:hover {
  background-color: white;
}