.money {
  width: 100vw;
  height: 100vh;
  background: url(./bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;


  .money-container {
    position: relative;
    width: 60%;
    height: 80%;
    border: white solid 2px;
    background: rgba(1,1,1,0.8);
    display: flex;
    justify-content: space-around;
    align-items: center;
    .income, .expenses {
      position: relative;
      width: 45%;
      max-height: 70%; 
      display: flex;
      flex-direction: column;

      .money-container-h3 {
        width: 100%;
        text-align: center;
        color: rgb(36, 185, 36);
      }
      .red {
        color: rgb(179, 43, 43);
      }

      .money-container-income, .money-container-expenses {
        min-height: 200px;
        border: solid white 2px;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
      
        &::-webkit-scrollbar {
          width: 5px;
          height: 10px;
        }
        &::-webkit-scrollbar-track {
          background-color: transparent;
          border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: rgb(251, 251, 251);
          border-radius: 10px;
        }
        .no-data-msg {
          text-align: center;
          margin: 10px;
        }
      }
    }


  }
}

