.login-and-register {
  display: flex;
}
.login-and-register-form-container {
  width: 40%;
  background-color: #151515;
  border-right: #65665F solid 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-register-link {
  margin-top: 20px;
  cursor: pointer;
  &:hover {
    font-weight: bold;
  }
}
.login-hero {
  width: 60%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./logon-bg.jpg) no-repeat fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.login-hero-text {
  font-size: 52px;
}